::after,
::before,
* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 1.6rem;
}

a,
button,
select,
input,
textarea {
    font-size: inherit;
    font-family: inherit;
    border: none;
    outline: none;
    color: inherit;
    background: transparent;
}
