@use './variable' as var;

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 58px;
    min-width: 149px;
    height: var(--height);
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    font-weight: 600;
    line-height: 1.75;
    border-radius: 8px;
    background: var.$black;

    &:hover {
        opacity: 0.9;
    }
}

/* Heading */
.heading {
    color: var.$black;
    font-weight: 700;
    &.lv1 {
        font-size: 6rem;
        line-height: 1.17;
    }
    &.lv2 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.25;
    }
    &.lv3 {
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.45;
    }

    &.lv4 {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.67;
    }
}
/* Description */
.desc {
    color: var.$gray;
    &.lv1 {
        margin-top: 20px;
        font-size: 1.8rem;
        line-height: 1.67;
    }
    &.lv2 {
        margin-top: 18px;
        line-height: 1.75;
    }
}

.section-label {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: var.$gray;
    line-height: 1.75;
    margin-bottom: 10px;

    &::before {
        content: '';
        width: 18px;
        height: 2px;
        background-color: var.$gray;
    }
}

.section-checklist {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: var.$black;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    &::before {
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: var.$primary-color;
    }
}
